.z {
	font-family: "Trebuchet MS";
	font-size: 15px;
	position: absolute;
	margin: auto;
}
.monu {
	font-size: 500px;
	font-family: "Century Gothic";
	margin-left: 50px;
}
.vic {
	margin-top: 365px;
	margin-left: 130px;
	width: 135px;
}
.view {
	margin-top: 300px;
	font-size: 25px;
	width: 100px;
	text-align: center;
	margin-left: 635px;
}
.best {
	font-family: "Brush Script MT";
	font-size: 50px;
}
.ishad {
	margin-top: 235px;
	margin-left: 1265px;
	width: 100px;
	text-align: right;
}
.vis {
	font-size: 14px;
	margin-top: 320px;
	margin-left: 1535px;
	width: 130px;
	text-align: right;
}
.vistwo {
	position: absolute;
	font-size: 14px;
	margin-top: 320px;
	margin-left: 1695px;
	width: 135px;
	text-align: left;
}
ul {
	position: absolute;
}
.two { 
	margin-left: 1710px;
	position: absolute;
	width: 150px;
	margin-top: 510px;
	text-align: center;
}
.use {
	font-family: "Georgia";
	font-size: 25px;
	margin-top: 320px;
	margin-left: 2000px;
	width: 130px;
	text-align: right;
}
.user {
	font-family: "Georgia";
	font-size: 25px;
	margin-top: 375px;
	margin-left: 2005px;
	width: 130px;
	text-align: right;
}
.hum {
	margin-top: 275px;
	margin-left: 2660px;
	width: 100px;
	text-align: left;
}
.tobe {
	font-size: 100px;
	font-family: "Century Gothic";
	margin-left: 5px;
	letter-spacing: 11px;
	margin-top: 565px;
	width: 3000px;
}