body {
	width: 1024px;
	height: 100%;
	background-color: black; 
	color: white;
	text-align: center;
}
.intro {
	position: absolute;
	margin-left: 25%;
	top: 30%;
}
.be {
	position: absolute;
	font-size: 340px;
	font-family: "Impact";
}
.conf {
	font-family: "Impact";
	font-size: 100px;
	position: absolute;
	margin-top: 180px;
	margin-left: 470px;
}
a {
	font-family: "Impact";
	font-size: 100px;
	position: absolute;
	margin-left: 470px;
	margin-top: 80px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}