.paragraph {
	text-align: left;
	font-size: 45px;
	font-family: "Arial";
	position: absolute;
}
.sound {
	position: fixed;
	font-family: "Arial";
	font-size: 1000px;
	color: white;
	z-index: -1;
	margin-top: -210px;
}
.visual {
	margin-top: 65px;
	position: absolute;
	font-family: "Courier";
	margin-left: 170px;
}



/*Letter S*/
.that {
	margin-top: 178px; 
	margin-left: 155px;
}
.isso {
	margin-left: 57px;
}
.ishow {
	margin-left: 100px;
}
.from {
	margin-left: 340px;
	margin-top: -40px;
}
.ref {
	margin-left: 57px;
	width
}
.fov {
	margin-top: -30px;
	margin-left: 160px;
}



/*Letter O*/
.like {
	margin-top: -530px;
	margin-left: 730px;
}
.gb {
	margin-left: 562px;
}
.fromthe {
	margin-left: 540px;
}
.vic {
	margin-left: 549px;
}
.ment {
	margin-top: 30px;
	margin-left: 710px;
}


/*Letter U*/
.best {
	margin-top: -540px;
	margin-left: 1125px;
}
.vo {
	margin-left: 1125px;
}
.ishad {
	margin-left: 1125px;
}
.ishad2 {
	margin-left: 1125px;
}
.ishad3 {
	margin-left: 1165px;
}
.ishad4 {
	margin-left: 1125px;
}
.ishad5 {
	margin-top: -60px;
	margin-left: 1275px;
}


/*Letter N*/
.which {
	margin-top: -540px;
	margin-left: 1680px;
}
.monu {
	margin-left: 1680px;
}
.vis {
	margin-left: 1680px;
}
.visl {
	margin-left: 1680px;
}
.lab {
	margin-left: 1680px;
}



/*Letter D*/
.lab2 {
	margin-top: -540px;
	margin-left: 2353px;
}
.lab3 {
	margin-top: -260px;
	margin-left: 2650px;
}
.lab4 {
	margin-left: 2640px;
}
.lab5 {
	margin-left: 2670px;
}
.lab6 {
	margin-left: 2240px;
}
.lab7 {
	margin-left: 2230px;
}
.lab8 {
	margin-left: 2260px;
}
.monu2 {
	margin-left: 2390px;
}

.leftover {
	font-family: "Courier";
	display: inline-block;
	text-align: left;
	margin-left: 2300px; 
	font-size: 25px;
}

/*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*/
.mnav { 
	position: fixed;
	height: 500px;
	width: 500px;
	position: fixed;
	margin-top: 650px;
	margin-left: -30px;
	z-index: 2;
	opacity: .3;
}
.nav2 {
	position: fixed;
	z-index: 2;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3 {
	position: fixed;
	z-index: 2;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4 {
	position: fixed;
	z-index: 1;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.mnav2 { 
	position: fixed;
	height: 500px;
	width: 500px;
	margin-top: 650px;
	margin-left: 1100px;
	z-index: 2;
	opacity: .3;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.nav2a {
	position: fixed;
	z-index: 2;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3a {
	position: fixed;
	z-index: 2;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4a {
	position: fixed;
	z-index: 1;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}

.nav2:hover {
	width: 0%;
}
.nav4:hover {
	width: 0%;
}
a.nav3:link {
	width: 120%;
 }
a.nav3:visited {
    width: 120%;
}
a.nav3:hover {
   	width: 200%;
   	color: black;
}
a.nav3:active {
    width: 120%;
}
.nav2a:hover {
	width: 0%;
}
.nav4a:hover {
	width: 0%;
}
a.nav3a:link {
	width: 120%;
 }
a.nav3a:visited {
    width: 120%;
}
a.nav3a:hover {
   	width: 150%;
}
 a.nav3a:active {
    width: 120%;
}
