body {
	width: 1024px;
	height: 100%;
	background-color: black;
	color: white;
	text-align: right;
}
.intro {
	position: absolute;
	height: 450px;
	width: 1000px;
	border: 2px solid violet;
	top: 40%;
}
.you {
	position: absolute;
	font-family: "Impact";
	font-size: 150px;
}
.listen {
	position: absolute;
	font-family: "Impact";
	font-size: 150px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}