body {
	width: 1024px;
	height: 100%;
	background-color: black;
	color: white;
}
.intro {
	position: absolute;
	margin-left: 40%;
	top: 40%;
}
.wth {
	position: absolute;
	font-family: "Century Gothic";
	font-size: 34px;
	width: 500px;
	margin-left:-13px;
	margin-top: 35px;
}
.ity {
	position: absolute;
	font-family: "Impact";
	font-size: 200px;
	margin-top: 7px;
	z-index: -1;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}