body {
	width: 1024px;
	height: 100%;
	background-color: black; 
	color: white;
}
.intro {
	position: absolute;
	margin-left: 50px;
	top: 20%;
	font-family: "Century Gothic";
	font-size: 25px;
}
a {
	position: absolute;
	bottom: 100px;
	right: 50px;
	font-size: 100px;
	font-family: "Impact";
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}