body {
	width: 1024px;
	bottom: 0px;
	background-color: black; 
	color: white;
	text-align: right;
	
}
.intro {
	position: absolute;
	left: 10px;
	border: 2px solid white;
	width: 35%;
	font-size: 50px;
	top: -30px;
	bottom: -30px;
	font-family: "Century Gothic";
}
a {
	font-family: "Impact";
	font-size: 25px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}