body {
	width: 1024px;
	height: 100%;
	background-color: black;
	color: white;
}
.intro {
	position: absolute;
	margin-top: 30px;
}
.intro2 {
	position: absolute;
	font-family: "Impact";
	font-size: 400px;
	margin-top: -65px;
	margin-left: 50px;
}
.intro3 {
	position: absolute;
	font-family: "Impact";
	font-size: 400px;
	margin-top: 270px;
	margin-left: 605px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}