.para {
	height: 200px;
	width: 200px;
	margin-left: 20%;
	margin-top: 20%;
	position: fixed;
	display: inline-block;
	float: left;
	padding: 2px 2px 2px 2px;
	border: 1px dashed black;
}
.content1 {
	position: absolute;
	margin-top: 121px;
}

.cont2 {
	margin-left: 150px;
}
.field {
	margin: auto;
	margin-left: 10px;
}
.content3 {
	position: absolute;
	margin-top: 50px;
	margin-left: 30px;
}
.content4 {
	position: absolute;
	margin-top: 160px;
	margin-left: 35px;
}
.place {
	position: absolute;
	margin-top: -40px;
	margin-left: 20px;
}
.content5 {
	position: absolute;
	margin-top: 100px;
	margin-left: 35px;
}
h2 {
	position: static;
	margin-top: -14px;
	margin-right: -10px;
	margin-bottom:-12px;
}
.content18 {
	height: 50px;
	width: 50px;
	margin: 100px 100px 100px 100px;
	position: absolute;
	display: inline-block;
	padding: -2px 2px 2px 2px;
	border: 1px dashed black;
}
h6 {
	position: relative;
	margin-top: 50px;
	margin-left: 85px;
}
.content6 {
	position: fixed;
	margin-top: 100px;
	margin-left: 35px;
}
.content22 {
	position: relative;
	margin-top: -100px;
}
.sound {
	margin: auto;
	margin-top: 500px;
	margin-left: 600px;
}
.vo {
	position: relative;
	margin: auto;
	margin-top: -150px;
	margin-left: -250px;
}