.para {
	height: 200px;
	width: 200px;
	margin-left: 20%;
	margin-top: 20%;
	position: fixed;
	display: inline-block;
	float: left;
	padding: 2px 2px 2px 2px;
	border: 1px dashed black;
}
.content1 {
	position: absolute;
	margin-top: 121px;
}

.cont2 {
	margin-left: 150px;
}
.field {
	margin: auto;
	margin-left: 10px;
}
.content3 {
	position: absolute;
	margin-top: 50px;
	margin-left: 30px;
}
.content4 {
	position: absolute;
	margin-top: 160px;
	margin-left: 35px;
}
.place {
	position: absolute;
	margin-top: -40px;
	margin-left: 20px;
}
.content5 {
	position: absolute;
	margin-top: 100px;
	margin-left: 35px;
}
h2 {
	position: static;
	margin-top: -14px;
	margin-right: -10px;
	margin-bottom:-12px;
}
.content18 {
	height: 50px;
	width: 50px;
	margin: 100px 100px 100px 100px;
	position: absolute;
	display: inline-block;
	padding: -2px 2px 2px 2px;
	border: 1px dashed black;
}
h6 {
	position: relative;
	margin-top: 50px;
	margin-left: 85px;
}
.content6 {
	position: fixed;
	margin-top: 100px;
	margin-left: 35px;
}
.content22 {
	position: relative;
	margin-top: -100px;
}
.sound {
	margin: auto;
	margin-top: 500px;
	margin-left: 600px;
}
.vo {
	position: relative;
	margin: auto;
	margin-top: -150px;
	margin-left: -250px;
}


/*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*/
/*NAVIGATION ONLY*/
.mnav { 
	position: fixed;
	height: 10%;
	width: 10%;
	float:left;
	bottom: 0px;
	left: 0px;
	z-index: 2;
	opacity: .3;
}
.nav2 {
	position: fixed;
	z-index: 2;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3 {
	position: fixed;
	z-index: 2;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4 {
	position: fixed;
	z-index: 1;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.mnav2 { 
	position: fixed;
	height: 10%;
	width: 10%;
	float:right;
	bottom: 0px;
	right: 0px;
	z-index: 2;
	opacity: .3;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.nav2a {
	position: fixed;
	z-index: 2;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3a {
	position: fixed;
	z-index: 2;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4a {
	position: fixed;
	z-index: 1;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}

.nav2:hover {
	width: 0%;
}
.nav4:hover {
	width: 0%;
}
a.nav3:link {
	width: 120%;
 }
a.nav3:visited {
    width: 120%;
}
a.nav3:hover {
   	width: 200%;
   	color: black;
}
a.nav3:active {
    width: 120%;
}
.nav2a:hover {
	width: 0%;
}
.nav4a:hover {
	width: 0%;
}
a.nav3a:link {
	width: 120%;
 }
a.nav3a:visited {
    width: 120%;
}
a.nav3a:hover {
   	width: 150%;
}
 a.nav3a:active {
    width: 120%;
}