.at-large{ 
	height: 200px;
	width: 900px;
	margin-left: 400px;
	margin-top: 300px;
}
/*paragraphs*/
.aat {
	position: absolute;
	border: 5px solid transparent;
	width: 200px;
	height: 200px;
	z-index: -1;
	color: #FFB6C1;
	font-size: 20px;
	padding: 7px 7px 7px 7px;
}
.bat {
	position: absolute;
	border: 5px solid transparent;
	margin-left: 210px;
	width: 200px;
	height: 200px;
	z-index: -1;
	font-size: 20px;
	color: #FFB6C1;
		padding: 7px 7px 7px 7px;
}
.cat {
	position: absolute;
	border: 7px solid transparent;
	width: 200px;
	margin-left: 420px;
	height: 200px;
	z-index: -1;
	font-size: 19.5px;
	color: #FFB6C1;
	padding: 7px 7px 7px 7px;
}
.dat {
	position: absolute;
	border: 5px solid transparent;
	width: 200px;
	margin-left: 634px;
	height: 200px;
	z-index: -1;
	font-size: 20px;
	color: #FFB6C1;
	padding: 7px 7px 7px 7px;
}


/*& edits*/
.ata {
	margin-left: 5px;
	z-index: 2;
	padding-right: 5px;
	border: 1px dashed black;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	transition: background-color 0.75s ease;
}
.atb {
	padding-right: 5px;
	z-index: 2;
	border: 1px dashed black;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	transition: background-color 0.75s ease;
}
.atc {
	padding-right: 5px;
	z-index: 2;
	border: 1px dashed black;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	transition: background-color 0.75s ease;
}
.atd {
	padding-right: 5px;
	z-index: 2;
	border: 1px dashed black;
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: white;
	transition: background-color 0.75s ease;
}
/*& contents*/
.ap {
	margin-top: -25px;
	font-size: 220px;
	text-align: center;
	transition: background-color 0.1s ease;
}
.ap:hover {
	color: transparent;
}
.ata:hover {
	background-color: transparent;
}
.atb:hover {
	background-color: transparent;
}
.atc:hover {
	background-color: transparent;
}
.atd:hover {
	background-color: transparent;
}
/*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*//*NAVIGATION*/
.mnav { 
	position: fixed;
	height: 500px;
	width: 500px;
	margin-top: 400px;
	margin-left: -30px;
	z-index: 3;
	opacity: .3;
}
.nav2 {
	position: fixed;
	z-index: 3;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3 {
	position: fixed;
	z-index: 3;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4 {
	position: fixed;
	z-index: 3;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.mnav2 { 
	position: fixed;
	height: 500px;
	width: 500px;
	margin-top: 400px;
	margin-left: 1100px;
	z-index: 3;
	opacity: .3;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}
.nav2a {
	position: fixed;
	z-index: 3;
	display: inline-block;
	background-color: #696969;
	width: 60px;
	height: 20px;
	margin-top: -1px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
}
.nav3a {
	position: fixed;
	z-index: 3;
	margin-top: -10px;
	display: inline-block;
	background-color: #808080;
	width: 80px;
	height: 20px;
	margin-top: 19px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}
.nav4a {
	position: fixed;
	z-index: 3;
	margin-top: -10px;
	display: inline-block;
	background-color: #A9A9A9;
	width: 100px;
	height: 20px;
	margin-top: 39px;
	transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease-out;
}

.nav2:hover {
	width: 0%;
}
.nav4:hover {
	width: 0%;
}
a.nav3:link {
	width: 120%;
 }
a.nav3:visited {
    width: 120%;
}
a.nav3:hover {
   	width: 200%;
   	color: black;
}
a.nav3:active {
    width: 120%;
}
.nav2a:hover {
	width: 0%;
}
.nav4a:hover {
	width: 0%;
}
a.nav3a:link {
	width: 120%;
 }
a.nav3a:visited {
    width: 120%;
}
a.nav3a:hover {
   	width: 150%;
}
 a.nav3a:active {
    width: 120%;
}
