body {
	width: 1024px;
	height: 100%;
	background-color: black; 
	color: white;
	text-align: center;
}
.intro {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 45%;
	font-size: 20px;
	font-family: "Century Gothic";
	line-height: 10px;
}
.introo {
	margin-right: 100px;
}
.introoo {
	margin-left: 100px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}