.body {
	width: 2000px;
	height: 1000px;
	background: linear-gradient(to bottom, #fcecfc 0%,#ffb6c1 100%,#fd89d7 100%,#ff7cd8 100%); 
}
.body2 {
	position: absolute;
	margin: auto;
	width:2000px;
}
.word2 {
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 50px;
	font-size: 30px;
	z-index: -1;
	clear:left;
	color: transparent;
	font-family: "Impact";
	transition: color .5s ease;
}
.word2:hover {
	color: #DC143C;
	font-size: 50px;
	font-family: "Arial Black";
}
li {
	color: transparent;
}