body {
	width: 1024px;
	height: 100%;
	background-color: black; 
	color: white;
	text-align: left;
}
.intro {
	text-align: center;
	border: 2px solid transparent;
	position: absolute;
	left: 10px;
	right: 10px;
	top: 33%;
	font-size: 45px;
}
.imp {
	font-family: "Impact";
	letter-spacing: 2.5px;
}
a {
	font-family: "Impact";
}
p {
	font-family: "Century Gothic";
	font-size: 40px;
	letter-spacing: -.5px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}