body {
	width: 1024px;
	height: 100%;
	background-color: black;
	color: white;
}
.intro {
	position: absolute;
	text-align: center;
	font-family: "Century Gothic"; 
	font-size: 25px;
	border: 2px solid white;
	right: 10px;
	left: 10px;
	height: 5%;
	padding: 120px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}