body {
	width: 1024px;
	height: 100%;
	background-color: black;
	font-family: "Impact"; 
	color: white;
	text-align: left;
}
.intro {
	position: absolute;
	top: 40%;
	left: 45%;
	right: 10px;
	font-size: 80px;
	height: 300px;
	line-height:75px;
}
.intro2 {
	position: absolute;
	font-size: 30px;
	font-family: "Century Gothic";
	margin-top: -20px;
}
.intro3 {
	position: absolute;
	font-size: 40px;
	margin-top: 10px;
	margin-left: 85px;
}
.listen {
	letter-spacing: 2px;
	line-height:-10px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}