body {
	width: 1024px;
	height: 100%;
	background-color: black;
	font-family: "Century Gothic"; 
	color: white;
	text-align: left;
	text-align: justify;
}
.intro {
	position: absolute;
	left: 20px;
	font-size: 25px;
	width: 650px;
}
.listen2 {
	float: right
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:active {
    color: white;
}